/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Nov-2014, 13:47:39
    Author     : D00162078
*/

body{
    background-image:url("Capture.png");
    background-repeat: repeat-y;
    background-position: right;
}
ul{
    color:red;
    list-style-type: circle;
}
p.main {
    text-align: justify;
    text-indent: 100px;
    
}
h1,h2 {
    text-shadow: 2px 2px ;
}

